

.o-product__before-after {
  margin: 14px auto 0; }

.c-before-after__contents + .c-before-after__contents {
  margin-top: 25px; }


.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30; }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 2px;
  height: 9999px;
  left: 50%;
  margin-left: -1px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 2px;
  top: 50%;
  margin-top: -1px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 8px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -8px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -8px; }

.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay,
  .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: attr(data-content); }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: attr(data-content); }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 68px;
  width: 68px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  border: 2px solid #fff;
  border-radius: 1000px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 36px; }

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 36px; }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 36px;
  box-shadow: 2px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 36px;
  box-shadow: -2px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 12px solid #011b45;
  left: 50%;
  margin-left: -23px; }

.twentytwenty-right-arrow {
  border-left: 12px solid #011b45;
  right: 50%;
  margin-right: -23px; }

/*.twentytwenty--sisora .twentytwenty-right-arrow {
  border-left: 12px solid #45a236; }

.twentytwenty--sisora .twentytwenty-left-arrow {
  border-right: 12px solid #45a236; }

.twentytwenty-up-arrow {
  border-bottom: 8px solid #f08500;
  top: 50%;
  margin-top: -16px; }

.twentytwenty-down-arrow {
  border-top: 8px solid #f08500;
  bottom: 50%;
  margin-bottom: -16px; }*/


.u-hidden {
  display: none; }

@media screen and (max-width: 767px) {
    
    .twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
      border: 6px inset transparent; }
    .twentytwenty-left-arrow, .twentytwenty-right-arrow {
      margin-top: -5px; }
    .twentytwenty-handle {
      width: 48px;
      height: 48px;
      margin-left: -26px;
      margin-top: -26px; }
    .twentytwenty-horizontal .twentytwenty-handle:before {
      margin-bottom: 24px; }
    .twentytwenty-horizontal .twentytwenty-handle:after {
      margin-top: 24px; }
    .twentytwenty-left-arrow {
      border-right: 10px solid #011b45;
      margin-left: -19px; }
    .twentytwenty-right-arrow {
      border-left: 10px solid #011b45;
      margin-right: -18px; }
    .twentytwenty--sisora .twentytwenty-right-arrow {
      border-left: 10px solid #45a236; }
    .twentytwenty--sisora .twentytwenty-left-arrow {
      border-right: 10px solid #45a236; }
    .u-hidden\@sp {
      display: none; } }

@media print, screen and (min-width: 768px) {
    
    .o-product__before-after {
      width: calc(100% - 200px);
      /*margin-top: 40px; */
    }
    
    
    
    .u-hidden\@pc {
      display: none; } }